@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin panel() {
    border-radius: 10px;
    box-shadow: 0px 5px 25px 1px rgba(0,0,0,0.05);
    padding: 20px;
    background-color: rgba(255,255,255,0.35);

    @media(min-width: $respoBreak) {
        padding: 30px;
    }
}

@mixin card() {
    background: $color-light;
    border-radius: 10px;
    padding: 20px;
}