$font-montserrat: 'Montserrat', sans-serif;
$font-worksans: 'Work Sans', sans-serif;

$container-width: 1600px;
$container-padding: 30px;
$container-padding-respo: 10px;

$main-color: #31f2f6;
$text-color: #292929;
$color-line: #e6e6e6;

$respoBreak: 1200px;