$container-width: 1600px;
$container-padding: 0 30px;
$container-padding-respo: 0 15px;

$main-color: #31f2f6;
$text-color: #FFF;
$color-black: #171717;
$color-line: #e6e6e6;
$color-light: #d4f4ea;

$respoBreak: 768px;