.articles {
    display: flex;
    flex-flow: row wrap;
    margin: 15px -15px 0;
    width: calc(100% + 30px);
}

.article-wrap {
    padding: 15px;
    width: 100%;
    color: $color-black;

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 1300px) {
        width: 33.333%;
    }
}

.article {
    @include card();
    height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;

    &-label {
        font-size: 12px;
        font-weight: 600;
        color: $text-color;
        background: #33b7ba;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 15px;
        transform: translateY(-50%);
        padding: 4px 10px;
        border-radius: 8px;
        box-shadow: 2px 2px 5px 2px rgba(27, 27, 27, 0.33);
    }
    
    &-title {
        margin-bottom: 15px;
        color: $color-black;
        font-size: 20px;
        font-weight: 900;
    }

    &-date {
        font-size: 12px;
        margin-bottom: 15px;
    }

    &-tags {
        font-size:15px;
        display: flex;

        .label {
            font-weight: 700;
            min-width: 60px;
        }
    }

    &-description {
        margin: 15px 0;
    }

    &-watch {
        margin-top: auto;
    }
}