.episodes {
    display: flex;
    flex-flow: row wrap;
    margin: 40px -15px 0;
    width: calc(100% + 30px);
}

.episode-wrap {
    padding: 15px;
    width: 100%;
    color: $color-black;

    @media (min-width: 768px) {
        width: 25%;
    }

    @media (min-width: 1500px) {
        width: 33.333%;
    }
}

.episode {
    @include card();
    overflow: hidden;
    
    &-title {
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: $color-black;
            font-size: 20px;
            font-weight: 900;
            transition: all ease 0.25s;

            &:hover, &:focus {
                color: darken($main-color, 15%);
            }
        }
    }

    &-tags {
        font-size:15px;
        display: flex;

        .label {
            font-weight: 700;
            min-width: 60px;
        }
    }

    &-description {
        margin: 15px 0;
    }
}