.navbar {
    @include panel();
    display: flex;
    flex-flow: column;
    min-height: 450px;

    a {
        text-decoration: none;
        font-family: $font-montserrat;
        font-weight: 700;
        color: $text-color;
    }

    .navbar-brand {        
        font-size: 32px;

        a {
            font-family: $font-montserrat;
            font-weight: 900;

            &:hover {
                span span {
                    padding-left: 20px;  
                    padding-right: 5px;
                }
            }
        }

        span span {
            font-size: 23px;
            padding-left: 25px;
            padding-right: 0;
            transition: all ease 0.25s;
        }
    }

    &-menu {
        list-style-type: none;
        margin: 50px 0 0 0;
        padding: 0;

        li {
            border-bottom: 1px solid $color-line;

            
        }

        a {
            font-size: 20px;
            display: block;
            padding: 20px 5px 20px 0;
            position: relative;
            transition: all ease 0.25s;

            &:before {
                content: '';
                height: 1px;
                width: 0;
                bottom: 0;
                margin-bottom: -1px;
                background: $main-color;
                display: block;
                position: absolute;
                transition: all ease 0.25s;
            }

            &:hover, &:focus {
                padding: 20px 0 20px 5px;

                &:before {
                    width: 100%;

                }
            }
        }
    }
}

footer {
    margin-top: auto;
    .socials {
        display: flex;

        a {
            opacity: 0.8;
            margin-right: 20px;

            &:hover, &:focus {
                opacity: 0.9;
            }
        }
    }
}